{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load customtags %}
{% block body %}
	<div class="activity">
		<div class="header">
			<button class="btn btn-back">
				<i class="fa fa-angle-left"></i>
				{{ bride_groom.name }}
			</button>
			<button class="btn btn-list pull-right">
				<i class="fa fa-th-list"></i>
			</button>
		</div>
		<div class="content scroll-section">
			<div class="scroller">
				<section>
					<div class="title media">
						<div class="media-left">
							<div class="profile">
								<img src="{% static "assets/img/profile" %}/{{ article.author.profile }}">
							</div>
						</div>
						<div class="media-body">
							<div class="name">{{ article.author.name }}</div>
							<div class="date" title="{{ article.created_at|date:"Y-m-d" }}T{{ article.created_at|date:"H:i:s" }}+09:00">{{ article.created_at|date:"Y년 n월 j일 a g:i" }}</div>
						</div>
					</div>
					<article>
						{{ article.title }}<br/><br/>
						{{ article.content|safe|linebreaksbr }}
						{% if article.attach_image %}
							<img src="{{ MEDIA_URL }}{{ article.attach_image }}" class="attach_image">
						{% endif %}
					</article>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
<script src="{% static "libs/plugins/prettydate/jquery.prettydate.js" %}"></script>
<script src="{% static "libs/plugins/prettydate/jquery.prettydate-kr.js" %}"></script>
<script>
	var name = '';

	$(document).ready(function(){
		$('.date').prettyDate({
			interval: 1000
		});

		$('.btn-list').on('click', function(e){
			// 돌아가려는데 이전단계에서 부른게 board에서 부른 경우라면 back 으로 돌아간다.
			if (document.referrer.indexOf('board') != -1) {
				window.history.back();
			} else {
				location.replace("{% url "card:board" %}");
			}
		});
	});
</script>
<script type="text/jsx">
	// React Code Goes Here
</script>
{% endblock %}