{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="utf-8">
{#	<meta http-equiv='X-UA-Compatible' id='X-UA-Compatible' content='IE=edge'/>#}
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{#	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<meta property="og:site_name" content="20140848" />
	<meta property="og:title" content="Euiju Han ♥ Jungsuk Hyung Wedding Invitation" />
	<meta property="og:url" content="http://20140848.me/card/" />
	<meta property="og:image" content="http://20140848.me{% static "assets/img/site_thumbnail.png" %}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="한의주♥형정석의 모바일 청첩장 페이지입니다."/>

	<title>Euiju Han ♥ Jungsuk Hyung</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static "assets/css/app.css" %}">
	{% block stylesheet %}{% endblock %}

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="overlay"></div>
	<main>
	{% block body %}{% endblock %}
	</main>
	<div class="template" style="display: none;">
	{% block template %}{% endblock %}
	</div>
	<!-- jQuery first, then Bootstrap JS -->
	<script src="{% static "assets/js/vender/tether.min.js" %}"></script>
	<script src="{% static "libs/js/wedding.js" %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
</body>
</html>
