{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load customtags %}
{% block body %}
	<div class="activity">
		<div class="header">
			<button class="btn btn-back"{% comment %} href="{% url "card:chat" %}"{% endcomment %}>
				<i class="fa fa-angle-left"></i>
				{{ bride_groom.name }}
			</button>
		</div>
		<div class="content scroll-section">
			<div class="scroller">
				{% for article in articles %}
				<section href="{% url "card:article" %}?id={{ article.id }}">
					<div class="title media">
						<div class="media-left">
							<div class="profile">
								<img src="{% static "assets/img/profile" %}/{{ article.author.profile }}">
							</div>
						</div>
						<div class="media-body">
							<div class="name">{{ article.author.name }}</div>
							<div class="date" title="{{ article.created_at|date:"Y-m-d" }}T{{ article.created_at|date:"H:i:s" }}+09:00">{{ article.created_at|date:"Y년 n월 j일 a g:i" }}</div>
						</div>
					</div>
					<article>
						{{ article.title }}<br/><br/>
						{{ article.content|safe|linebreaksbr|truncatechars:255 }}
					</article>
				</section>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
<script src="{% static "libs/plugins/prettydate/jquery.prettydate.js" %}"></script>
<script src="{% static "libs/plugins/prettydate/jquery.prettydate-kr.js" %}"></script>
<script>
	var name = '';

	$(document).ready(function(){
		$('.date').prettyDate({
			interval: 1000,
			attribute: 'title'
		});
	});
</script>
<script type="text/jsx">
	// React Code Goes Here
</script>
{% endblock %}