{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load customtags %}
{% block body %}
	<div class="chat-wrapper">
		<div class="title">
			<button class="btn btn-back">
				<i class="fa fa-angle-left"></i>
				한의주 ♡ 형정석
			</button>
			<button class="btn btn-menu pull-right">
				<i class="fa fa-bars"></i>
			</button>
		</div>
		<div class="talk-box">
			<div class="scroller" id="chat-box">
			{% for chatlog in chatlogs %}
				{% ifchanged chatlog.created_at|date:"Y-n-j" %}
				<div class="timeline-row">
					<div class="strike">
						<span class="date">{{ chatlog.created_at|date:"Y년 n월 j일 l" }}</span>
					</div>
				</div>
				{% endifchanged %}
				<div class="message-row {{ chatlog.type }}">
					{% if chatlog.type == 'other' %}
					<div class='profile'>
						<img src='{% static "assets/img/profile" %}/{{ chatlog.user.profile }}'>
					</div>
					{% endif %}
					<div class='message-box'>
						<div class='name'>{{ chatlog.user.name }}</div>
						<div class='message' data-timestamp="{% widthratio chatlog.created_at|date:"U" 1 1000 %}">
							<span class="text">
								{% if chatlog.type == 'me' %}
									{{ chatlog.message }}
								{% else %}
									{{ chatlog.message|safe }}
								{% endif %}
							</span>
							<div class='extra'>
								<div class='badge'>{% if chatlog.unread_count > 0 %}{{ chatlog.unread_count }}{% endif %}</div>
								{% with next_log=chatlogs|next:forloop.counter0 %}
								<div class='date'>
									{% if chatlog.created_at|date:"a g:i" != next_log.created_at|date:"a g:i" %}
									{{ chatlog.created_at|date:"a g:i" }}
									{% endif %}
								</div>
								{% endwith %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
		<div class="input-box">
			<button class="btn btn-plus"><i class="fa fa-plus"></i></button>
			<textarea rows="1" id="message"></textarea>
			<button class="btn btn-send" disabled>전송</button>
		</div>
	</div>
	<!-- 사이드 메뉴 영역 -->
	<div class="menu-wrapper">
		<div class="scroller">
			<section>
				<div class="title">
					안내
				</div>
				<hr class="divider"/>
				<div class="content">
					<ul class="list-unstyled">
						{% for article in articles %}
							{% if article.category == 'location' and not user.is_invited %}
							{% else %}
						<li class="media article">
							<div class="media-left">
								<div class="category">
									{% if article.category == 'location' %}
									<i class="fa fa-map-marker"></i>
									{% elif article.category == 'calendar' %}
									<i class="fa fa-calendar"></i>
									{% else %}
									<i class="fa fa-list"></i>
									{% endif %}
								</div>
							</div>
							<div class="media-body">
								<h6 class="title">{{ article.title }}</h6>
								<div class="subscript">
									<strong class="author">{{ article.author }}</strong> · <span class="date">{{ article.created_at|date:"Y년 n월 j일 a g:i" }}</span>
								</div>
							</div>
						</li>
							{% endif %}
						{% empty %}
						<li class="empty">
							아직 게시판에 등록된 글이 없습니다.
						</li>
						{% endfor %}
					</ul>
				</div>
			</section>
			<section>
				<div class="title" href="#">
					<i class="fa fa-angle-right pull-right"></i>
					앨범
				</div>
	{#			<hr class="divider"/>#}
				<div class="content">
					<div class="gallery">
						{% for img in gallery %}
						<div class="img-frame" style="background-image: url('{{ MEDIA_URL }}{{ img.path }}')"></div>
						{% endfor %}
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					신랑 / 신부
				</div>
				<hr class="divider"/>
				<div class="content">
					<ul class="list-unstyled members">
						<li class="media article">
							<div class="media-left">
								<div class="profile">
									<img src="{% static "assets/img/profile/hjs.png" %}">
								</div>
							</div>
							<div class="media-body">
								<div class="name">신랑: 형정석</div>
							</div>
						</li>
						<li class="media article">
							<div class="media-left">
								<div class="profile">
									<img src="{% static "assets/img/profile/hej.png" %}">
								</div>
							</div>
							<div class="media-body">
								<div class="name">신부: 한의주</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-sign-out"></i>
				</div>
				<div class="col-xs-9 share">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-twitter"></i>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block template %}
<div class="message-row" id="tmpl-message">
	<div class='profile'>
		<img src=''>
	</div>
	<div class='message-box'>
		<div class='name'></div>
		<div class='message'>
			<span class="text"></span>
			<div class='extra'>
				<div class='badge'></div>
				<div class='date'></div>
			</div>
		</div>
	</div>
</div>
<div class="timeline-row" id="tmpl-timeline">
	<div class="strike">
		<span class="date"></span>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static "libs/countdown/jquery.countdown.js" %}"></script>
<script>
	var name = '';

	$(document).ready(function(){
		$('#test').on('click', function(e){
			toggleFullScreen();
		});

		resizeMenuBox();
		resizeInputBox();

		$(window).on('resize', function(e){
			resizeInputBox();
			resizeMenuBox();
		});

		initSideMenu();
		initInputBox();
		initChatBox();
	});

	// 오른쪽 사이드 메뉴 액션 초기화
	function initSideMenu() {

		// 메뉴를 클릭하면 열릴 수 있도록
		$('.btn-menu').on('click', function(e){
			$('.menu-wrapper').addClass('active');
			$('.overlay').show();
			$('.overlay').addClass('active');
		});

		// 오버레이 영역을 클릭하면 닫힐 수 있도록
		$('.overlay').on('click', function(e) {
			$('.menu-wrapper').removeClass('active');
			$(this).removeClass('active');
			$(this).hide();
		});

		$('.menu-wrapper, .overlay').on('swipe', function(e) {
			$('.overlay').trigger('click');
		});
	}

	// 입력상자 이벤트 정의
	function initInputBox() {

		$('#message').on('keyup', function(e){

			var _text = $.trim($(this).val());

			this.style.height = "1px";
			this.style.height = this.scrollHeight+"px";

			resizeInputBox();

			if (_text.length > 0) {
				$('.btn-send').removeAttr('disabled');
			} else {
				$('.btn-send').attr('disabled', 'disabled');
			}
		});

		$('#message').on('keydown', function(e){

			// 엔터받으면 전송하도록 한다. (쉬프트키 누르면 그냥 입력될수 있도록)
			if (e.keyCode == 13 && !e.shiftKey) {
				e.preventDefault();
				sendMessage();
			}
		});

		$('.btn-send').on('click', function(){
			sendMessage();
		});
	}

	function initChatBox(){
		// 내용이 긴 경우 맨 아래로 스크롤 이동
		var _chatbox = $('#chat-box');
		_chatbox.scrollTop(_chatbox[0].scrollHeight);

{% comment %}
		// 메세지 상자에 글이 입력되려고 하면 스크롤을 맨 아래로 이동
		$('#message').on('focus blur', function(e){
			// 단 현재 글을 입력할 때 맨 아래인 경우에만 맨 아래로 이동 유지
			setTimeout(function() {
				_chatbox.scrollTop(_chatbox[0].scrollHeight);
			}, 300);
		});
{% endcomment %}

		{% if chatlogs|length == 0 %}
		// 아무것도 없는 경우 초기화 세팅

		// 초기에 생성되는 메세지이므로 초대 메시지를 먼저 띄운다.
		showMessage('notice', '<strong>{{ bride_groom.name }}</strong>님이 <strong>{{ user.name }}</strong>님을 초대했습니다.');

		// 설정된 채팅 메시지를 불러와서 채팅창에 뿌려준다.
		$.post(
			'{% url "card:chat_bot" %}',
			{
		        'rcode': 'greeting',
		        'chatroom': '{{ chatroom.id }}',
		        'csrfmiddlewaretoken': '{{ csrf_token }}'
	        },
			function(data) {
				if (!data.error) {
					var messages = data.response.messages;

					for (var idx in messages) {
						(function(i) {
							setTimeout(function(){
								showMessage('other', messages[i].message, messages[i].name, messages[i].profile);
							}, 1000 * i);
						})(idx);
					}
				} else {
					showMessage('other', data.response.message, data.response.name, data.response.profile);
				}
			}
		);
		{% endif %}
	}

	function showMessage(type, message, name, profile, timestamp) {
		timestamp = timestamp || Date.now();
		var template = $('#tmpl-message').clone().removeAttr("id").addClass(type);
		var template_timeline = $('#tmpl-timeline').clone().removeAttr("id");

		var now_time = new Date(timestamp).format("a/p h:mm");
		var now_date = new Date(timestamp).format("yyyy년 M월 d일 E");

		// 마지막 메세지를 가져온다.
		var prev_message = $('#chat-box .message-row').last();
		var prev_timestamp = prev_message.find('.message').data('timestamp');
		var prev_date = new Date(prev_timestamp).format("yyyy년 M월 d일 E");

		// 이전 메세지의 날짜가 완전 달라지는 경우에는 시간 경계선을 추가한다.
		if (prev_date != now_date) {
			template_timeline.find('.date').text(now_date);
			$('#chat-box').append(template_timeline);
		}

		if (type == 'notice') {
			// 메세지 추가
			template.find('.message').html(message.replace(/\n/g, "<br />"));
		} else {
			var prev_message_date = prev_message.find('.date');

			// 이전 메세지 타입과 현재 시간이 같은 경우에는 이전 메세지의 날짜를 삭제
			if (prev_message.hasClass(type) && prev_message_date.text() == now_time) {
				prev_message_date.text('');
			}

			// 메세지 추가
			template.find('.profile img').attr('src', '{% static "assets/img/profile/hej_hjs.png" %}');
			template.find('.name').text(name);
			template.find('.text').html(message.replace(/\n/g, "<br />"));
			template.find('.badge').text(1);
		}

		// 메세지의 시간기록
		template.find('.date').text(now_time);
		template.find('.message').data('timestamp', timestamp);

		$('#chat-box').append(template);
	}

	function sendMessage() {
		var _message = $('#message');
		var _scroller = $('#chat-box');
		var _created_at = Date.now();
		var message = _message.val();

		// 서버에 메세지 저장
		$.post(
			'{% url "card:chat_send" %}',
			{
		        'message': message,
		        'created_at': _created_at,
				'chatroom': '{{ chatroom.id }}',
		        'csrfmiddlewaretoken': '{{ csrf_token }}'
	        },
			function(data) {
				if (!data.error) {
					showMessage('me', message, '{{ user.name }}', '', _created_at);
					// 맨 아래로 위치시키기
					setTimeout(function() {
						_scroller.scrollTop(_scroller[0].scrollHeight);
					}, 50);
				} else {
					// 에러가 난 경우 메세지 처리
					// 다시 보내기 버튼을 활성화시켜서...
				}
			}
		);

		// 텍스트 상자 초기화
		_message.val('');
		_message.trigger('keyup');

		_message.focus();
	}

	function resizeMenuBox() {
		var width = $(window).width() - 65;     // 왼쪽 여백을 얼만큼 남길지 결정
		var right = -(width + 40);              // 초기에 얼만큼 안쪽으로 들어가 있을지 결정

		$('.menu-wrapper').css({'width': width, 'right': right});
	}

	// 입력공간 조정
	function resizeInputBox(){
		var _message = $('#message');
		var height = _message.outerHeight();            // 메세지의 크기를 가져온다.
		var width = $(window).outerWidth();
		var _chatbox = $('#chat-box');
		var diff = height - $('.input-box').height();   // 메세지 크기와 현재 입력창의 크기 변화

		$('.input-box').height(height);                 // 입력창을 메세지 크기만큼 늘려준다.
		$('.btn-plus').outerHeight(height);

		resizeTalkBox();

		if (_chatbox.scrollTop() + _chatbox.height() + diff ==  _chatbox[0].scrollHeight) {
			_chatbox.scrollTop(_chatbox[0].scrollHeight);
		}

		// 메세지 상자 최대 크기
		$('.message-box .message').css({'max-width': width - 20 - 47 - 85});
	}

	// 채팅공간 조정
	function resizeTalkBox(){
		var height = $(window).height();                    // 윈도우크기
		var input_height = $("#message").outerHeight();

{#		$('.scroller').height(height);#}
{#		var title_height = $(".chat-wrapper .title").outerHeight();#}

		$('.scroller').height(height - input_height);
	}

	function toggleFullScreen() {
		if (!document.fullscreenElement &&    // alternative standard method
				!document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
			if (document.documentElement.requestFullscreen) {
				document.documentElement.requestFullscreen();
			} else if (document.documentElement.msRequestFullscreen) {
				document.documentElement.msRequestFullscreen();
			} else if (document.documentElement.mozRequestFullScreen) {
				document.documentElement.mozRequestFullScreen();
			} else if (document.documentElement.webkitRequestFullscreen) {
				document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
			}
		} else {
			if (document.exitFullscreen) {
				document.exitFullscreen();
			} else if (document.msExitFullscreen) {
				document.msExitFullscreen();
			} else if (document.mozCancelFullScreen) {
				document.mozCancelFullScreen();
			} else if (document.webkitExitFullscreen) {
				document.webkitExitFullscreen();
			}
		}
	}
</script>
<script type="text/jsx">
	// React Code Goes Here
</script>
{% endblock %}