{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
	<!-- 스플래쉬 영역 -->
	<div class="splash-wrapper">
		<div class="timebox">
			<p>2016.04.30. SAT PM 3:00</p>
			<h1 id="countdown"></h1>
		</div>
		<div class="detail-wrapper">
			<button class="btn btn-primary btn-brd" id="show-detail">자세히보기 <i class="fa fa-angle-right"></i></button>
		</div>
	</div>
	<div class="intro-wrapper" style="display: none;">
		<div class="profile-box">
			<h6 class="text-center">한의주♡형정석</h6>
			<img src="{% static "assets/img/profile/hej_hjs.png" %}">
		</div>
		<div class="help-block">
			이름과 휴대폰 전화번호 뒷 4자리를 입력해주세요.<br/>
			입력하신 정보는 개별 맞춤 청첩장을 제공하는데 사용됩니다.
		</div>
		<form class="form-horizontal" id="user-info" method="POST" action="{% url "card:chat" %}">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" id="name" name="name" class="form-control" placeholder="이름" required autocomplete="off">
			</div>
			<div class="form-group">
				<input type="text" id="last_number" name="last_number"class="form-control" placeholder="전화번호 뒷 4자리" required autocomplete="off">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-block btn-primary">입장하기</button>
			</div>
		</form>
	</div>
{% endblock %}
{% block javascript %}
<script src="{% static "libs/countdown/jquery.countdown.js" %}"></script>
<script src="{% static "libs/validate/jquery.validate.js" %}"></script>
<script>
	var name = '';

	$(document).ready(function(){

		$(window).on('resize', function(e){
			relocateTimeBox();
		});

		initSplash();
		relocateTimeBox();
	});

	function initSplash() {
		var ts = new Date(2016, 3, 30, 15, 00);

		// 유저정보를 가지고 있다면 미리 채워준다.
		var userinfo = getCookie('userinfo');
		if (userinfo) {
			var tmp = deserialize(userinfo);
			$('#name').val(tmp['name']);
			$('#last_number').val(tmp['last_number']);
		}

		$('#show-detail').on('click', function(e){
			$('.splash-wrapper').fadeOut();

			// 최근 하루동안 방문한 적이 있으면 굳이 물어보지 않고 채팅창으로 이동
			if (getCookie('isVisit') && getCookie('userinfo')) {
				$('#user-info').trigger('submit');
			} else {
				// 최근 방문한 기록이 없다면 유저정보를 받은 후 기록 후 채팅창으로 이동
				showUserInfo();
			}
		});

		$('#countdown').countdown({
			timestamp	: ts,
			callback	: function(days, hours, minutes, seconds){

				var message = "";

				message += "D-" + days + " " + hours.zf(2) + ":" + minutes.zf(2) + ":" + seconds.zf(2);

				$('.timebox h1').html(message);
			}
		});

		$('input').on('focus', function(e){
			$(this).blur();
		});
	}

	function showUserInfo() {
		$('.intro-wrapper').fadeIn();
		$('#name').focus();

		$('#user-info').validate({
			submitHandler: function(form) {
				// 방문기록 체크
				setCookie('isVisit', 1, 30);

				// 유저정보 기록
				setCookie('userinfo', $(form).serialize(), 30);

				setTimeout(function(e) {
					form.submit();
				}, 1000);
			},
			rules: {
				last_number: {
					number: true
				}
			},
			messages: {
				name: {
					required: "한글 이름을 입력해주세요."
				},
				last_number: {
					required: "휴대폰 전화번호 4자리를 입력해주세요.",
					number: "숫자만 입력가능합니다"
				}
			}
		});
	}

	function relocateTimeBox() {
		$('.timebox').css({'top': $(window).outerHeight() / 2 + $('.timebox').outerHeight() / 5});
	}

	function toggleFullScreen() {
		if (!document.fullscreenElement &&    // alternative standard method
				!document.mozFullScreenElement && !document.webkitFullscreenElement && !document.msFullscreenElement ) {  // current working methods
			if (document.documentElement.requestFullscreen) {
				document.documentElement.requestFullscreen();
			} else if (document.documentElement.msRequestFullscreen) {
				document.documentElement.msRequestFullscreen();
			} else if (document.documentElement.mozRequestFullScreen) {
				document.documentElement.mozRequestFullScreen();
			} else if (document.documentElement.webkitRequestFullscreen) {
				document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
			}
		} else {
			if (document.exitFullscreen) {
				document.exitFullscreen();
			} else if (document.msExitFullscreen) {
				document.msExitFullscreen();
			} else if (document.mozCancelFullScreen) {
				document.mozCancelFullScreen();
			} else if (document.webkitExitFullscreen) {
				document.webkitExitFullscreen();
			}
		}
	}
</script>
<script type="text/jsx">
	// React Code Goes Here
</script>
{% endblock %}